body{
    margin-left: 7rem;
    margin-right: 7rem;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #FAFAFA;
}
.nav{
    display: flex;
    font-size: larger;
    padding: 1.5rem;
    background-color: black;

}
.agri{
    width: 30%;
    margin-top: 1em;


}
.agri a{
    color: white;
    list-style: none;
    text-decoration: none;
    font-family: 'Oleo Script', cursive;
    font-size: 40px;
    font-weight: bolder;
}
.nav-list ul{
display: flex;
justify-content: space-around;
list-style: none;

}
.nav-list{
    width: 40%;

}
.nav-list ul li a{
    color: white;
    text-decoration: none;

}
.active{
    color: white;
    text-decoration: underline;
    text-decoration-color: #ED661F;

}
    

.nav-button{
    margin-left: 18rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
    
}
.nav-button button{
    background-color:  #ED661F;
    width: 8rem;
    height: 3rem;
    border-radius: 0rem;
    border-width: 0.1px;
}
.login{
    margin-right: 1rem;
    width: 8rem;
    
    border-radius: 0rem;
    border-width: 0.1px;
}
.nav-button button a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
}
.login a{
    color:white ;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}
.first{
    background-image: url("../images/image1.png");
    object-fit: cover;
    background-position: center;
    background-size: 100% 100%;
    
    background-repeat: no-repeat;
    height: 90vh;
    margin-top: 7rem;
}
.text{
    margin-left: 4rem;
}
.one{
    display: flex;
}
.onions{
    width: 50%;
    margin-left: 8rem;
}
.more button{
    background-color: #ED661F;
    height: 5rem;
    width: 10rem;
    border-width: 0px;
}
.more button a{
    text-decoration: none;
    color: #FAFAFA;
    font-weight: bolder;
    font-size: 20px;

}


h1 {
    font-size: 45px;
    font-weight: 3rem;
}
p{
    font-size: 20px;
}
.nav- button button{
    background-color:  #ED661F;
    width: 10rem;
    height: 4rem;
    border-radius: 0rem;
    border-width: 0.1px;
    float: left;
}
.button button a{
    color: white;
    text-decoration: none;
    display: flex;
}
.box{
    display: flex;
    background-color: #FAFAFA;
    margin-top: 18rem;
    height: 10rem;
    width: 40rem;
    justify-content: space-around;
    margin-left: 50rem;
    border-bottom:black;
    box-shadow: 0 0 0 5 black;
    
}
.box p{
    font-weight: bold;
    text-align: center;
}
.second{
    align-items:centre;
    
}
.why{
    display: flex;
    

    
}
.exist{
    display: block;
    width: 50%;
}
p span{
    display: block;
    font-size: 25px;
    margin-left: 4rem;
}
.third{
    font-size: 1.5rem;
    text-align: center;
}
.fourth{
    display: block;
}
.popularitems{
    display: flex;
    justify-content: space-between;

}

.images img{
    width: 50%;
    height: auto;
}

.newest{
    display: flex;
    justify-content: space-between;
}
.see{
    font-size: 16px;
    position: relative;
    width: 100%;
    text-align: right;
}

.see a{
    font-weight: bolder;
    text-decoration: none;
    color: black;
}
.sixth{
    display: block;
}
.six{
    display: flex;
    justify-content: space-around;


}


    
    
.seven{
    background-color: black;
    color: #FAFAFA;
    height: 15vh;
    text-align: center;
    
}
.sev-button{
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    margin-left: 43rem;
    width: 16rem;
}
.sev-button button{
    background-color: #ED661F;
    color: #FAFAFA;
}
.foot{
    background-color: black;
    color: #FAFAFA;
}




    
.footer{
    background-color: black;
    color: white;
    display: flex;
    margin-top: 7.6rem;
    justify-content: space-around;
    padding-bottom: 9rem;
    padding-left: 4rem;

    
    
}
h6{
    text-align: center;
    padding: 4rem;
    font-weight: bolder;
}
.footer.agri{
    font-size: 4rem;
}